<h4>Try to guess secret number from 0 to 100</h1>
<p>You have only 5 attempts</p><br>
<h4>Attempt #<%= attempt %></h4><br>
<h3>The SECRET NUMBER is ... <%= secret%></h3>  

<form>
    <input type='text' name='guess' autofocus/>
  	<input type='submit' value='Guess!' />
</form>

<% case check_guess %>
<% when (1..2) %> 
    <style>
         #back { background: lightcoral; }
    </style>
<% when (3..4) %> 
     <style>
          #back { background: darkred; }
     </style>
<% end %>

<% if @message.include?('!') %>
    <style>
        #back { background: #9ACD32; }
    </style>
<% end %>
<h4> <%= @message %> </h4> 
