<html>
  <head></head>
  <body>
    <p>
			The SECRET NUMBER is ...
 		</p>
 		<form>
  		<input type='text' name='guess' autofocus/>
  		<input type='submit' value='Guess!' />
		</form>
		<h4> <%= message %> </h4>				
  </body>
</html>
