<h4>Угадайте число от 0 до 100</h1>
<p>У Вас только 5 попыток</p><br>
<h4>Попытка №<%= attempt %></h4><br>
<h3>СЕКРЕТНОЕ ЧИСЛО ... <%= secret%></h3>  

<form action='/' method='get'>
    <input type='text' name='guess' autofocus/>
  	<input type='submit' value='Guess!' />
</form>

<% case message_case %>
<% when (1..2) %> 
    <style>
         #back { background: lightcoral; }
    </style>
<% when (3..4) %> 
     <style>
          #back { background: darkred; }
     </style>
<% end %>

<% if @message.include?('!') %>
    <style>
        #back { background: #9ACD32; }
    </style>
<% end %>
<h4> <%= @message %> </h4> 
