<h4>Вгадайте число від 0 до 100</h1>
<p>Маєте тільки 5 спроб</p><br>
<h4>Спроба №<%= attempt %></h4><br>
<h3>СЕКРЕТНЕ ЧИСЛО ... <%= secret%></h3>  

<form>
    <input type='text' name='guess' autofocus/>
  	<input type='submit' value='Guess!' />
</form>

<% case check_guess %>
<% when 0 %> 
    <style>
        #back { background: green; }
    </style> 
<% when (1..2) %> 
    <style>
         #back { background: lightcoral; }
    </style>
<% when (3..4) %> 
     <style>
          #back { background: darkred; }
     </style>          
<% end %>
<h4> <%= message %> </h4> 
