<h4>Вгадайте число від 0 до 100</h1>
<p>Кораловий колір означає, що Ви близькі до відповіді (±5)</p>
<p>Маєте тільки 5 спроб</p><br>
<h4>Спроба №<%= attempt %></h4>
<h3>СЕКРЕТНЕ ЧИСЛО ... <%= secret%></h3>

<form action='/' method='get'>
    <input type='text' name='guess' autofocus/>
  	<input type='submit' value='Guess!' />
</form>

<% case message_case %>
<% when (1..2) %> 
    <style>
         #back { background: lightcoral; }
    </style>
<% when (3..4) %> 
     <style>
          #back { background: darkred; }
     </style>
<% end %>

<% if @message.include?('!') %>
    <style>
        #back { background: #9ACD32; }
    </style>
<% end %>
<h4> <%= @message %> </h4> 
